/*
  Home Page
*/

#home {
  background:transparent;
  
    header {
      margin-left:-15px;
      margin-right:-15px;
      text-align:center;
      padding:2rem 1rem;
      margin-bottom:2rem;
      background:@color-dark;
      color:@color-light;
    }

}