  <!-- Footer -->
  <footer>
    
  </footer>

  <!-- Off-Page Elements -->
  <div id="page-overlay"></div>
  <div id="nav-mobile-menu-bounds"></div>
  <div id="nav-mobile-menu-overlap"></div>

  <!-- Modals -->
  <div id="modal"></div>

  <!-- JS: Vendor Core -->
  <script src="/scripts/vendor/core/jquery-2.1.4.min.js" type="text/javascript"></script>
  
  <!-- JS: Vendor Animations -->
  <script src="/scripts/vendor/animation/gsap.min.js" type="text/javascript"></script>
  
  <!--
  <script src="/scripts/vendor/animation/TweenLite.min.js" type="text/javascript"></script>
  <script src="/scripts/vendor/animation/Draggable.min.js" type="text/javascript"></script>
  <script src="/scripts/vendor/animation/ThrowPropsPlugin.min.js" type="text/javascript"></script>
  <script src="/scripts/vendor/animation/CSSPlugin.min.js" type="text/javascript"></script> -->

  <!-- JS: App Core -->
  <script src="/scripts/global/navigation.js" type="text/javascript"></script>
  
</body>