<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Title -->
    <title>
      {{global.title}}
      {{#if page}} | {{page}} {{/if}}
       | {{global.desc}}
    </title>

    <!-- Fonts: Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
   
    <!-- CSS: Bundled Core -->
    <link href="/styles/master.css" rel="stylesheet">

    <!-- Pre-Render JS -->


  </head>
  
  <body>
    
    <!-- Navigation -->
    <a id="mobile-menu" href="##">
      <span class="hammy-special">
        <span class="fir"></span>
        <span class="sec"></span>
        <span class="thi"></span>
      </span>
    </a>
      
    <ul id="nav-mobile-menu" role="menubar" aria-hidden="true">
       
        <!-- Nav Master Links -->
        <li aria-haspopup="true" role="menu" data-mobile-opens="a">
          <a href="##" aria-expanded="false">Ding</a>
        </li>
        <li aria-haspopup="true" role="menu" data-mobile-opens="b">
          <a href="##" aria-expanded="false">Dong</a>
        </li>
        <li aria-haspopup="true" role="menu" data-mobile-opens="c">
          <a href="##" aria-expanded="false">Dingery</a>
        </li>
        <li aria-haspopup="true" role="menu" data-mobile-opens="d">
          <a href="##" aria-expanded="false">Flap</a>
        </li>

        <!-- Nav Submenus -->

        <!-- Ding -->
        <ul data-mobile-submenu="a" class="second">
          <li class="back">
            <a>
                Back <span class="sr-only">- back to previous menu</span>
            </a>
          </li>
          <li>
            <a href="##">Floozery</a>
          </li>
          <li>
            <a href="##">Flim</a>
          </li>
          <li>
            <a href="##">Flam</a>
          </li>
        </ul>
        
      </ul>