{{> header}}

<header role="banner">
       
  <h1>
    <span>Scratch</span>
  </h1>
  <p>Start fresh and do super fly things</p>

</header>

<main id="home" class="container-fluid text-center">
    
    <div class="row">
      
      <section class="col-sm-4 padded-list">
        
        <h2>Styles</h2>
        <strong>/public/styles/</strong>
        <br /><br />
        
        <ul>
          <strong>Vendor</strong>
          <li>/vendor/bootstrapgrid.less</li>
        </ul>
        
        <ul>
          <strong>Global</strong>
          <li>global/mixins.less</li>
          <li>global/colors.less</li>
          <li>global/base.less</li>
          <li>global/fonts.less</li>
          <li>global/components.less</li>
          <li>global/navigation.less</li>
        </ul>
        
        <ul>
          <strong>Content</strong>
          <li>content/home.less</li>
        </ul>
        
        <ul>
          <strong>Compile</strong>
          <li>master.less</li>
        </ul>
        
      </section>
      
      <section class="col-sm-4 padded-list">
        
        <h2>Scripts</h2>
        <strong>/public/scripts/</strong>
        <br /><br />
        
        <ul>
          <strong>Vendor</strong>
          <li>vendor/jquery-2.1.4.min.js</li>
          <li>vendor/TweenLite.min.js (GSAP)</li>
          <li>vendor/Draggable.min.js (GSAP)</li>
          <li>vendor/CSSPlugin.min.js (GSAP)</li>
        </ul>
        
        <ul>
          <strong>Global</strong>
          <li>global/navigation.js</li>
          <li>global/script.js</li>
        </ul>
        
        <ul>
          <strong>Content</strong>
          <li>content/content.js</li>
        </ul>
        
      </section>
      
      <section class="col-sm-4 padded-list">
        
        <h2>Views</h2>
        <strong>/views/</strong>
        <br /><br />
        
        <ul>
          <strong>Top-level</strong>
          <li>error.html</li>
          <li>home.html</li>
        </ul>
        
        <ul>
          <strong>Partials</strong>
          <li>partials/header.html</li>
          <li>partials/footer.html</li>
        </ul>
        
        <ul>
          <strong>Content</strong>
          <li>content/page.html</li>
        </ul>
        
      </section>
      
    </div>

  </main>

{{> footer}}    